<div *ngIf="identity" class="container">
  <div class="row">
    <div class="col-lg-1 navigation">
      <h1 class="display-1 text-white text-truncate tittle bg-gradiant-ui">{{ title }}</h1>
    </div>
    <div class="col-lg-11 central">
      <p class="text-white">Estas loggeado a la aplicacion.</p>
    </div>
  </div>
</div>
<div *ngIf="!identity" class="container">
  <h1 class="display-1 text-white tittle mt-3 mb-4 sticky-top bg-gradiant-ui">{{ title }}<i
      class="fas fa-music ml-2"></i></h1>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="account-wall rounded">
        <img class="profile-img" src="../assets/img/computer-1331579_960_720.png" alt="">
        <form class="form-signin" #loginForm='ngForm' (ngSubmit)='onSubmit()'>
          <input type="email" class="form-control rounded-top" #email='ngModel' name='email' [(ngModel)]='user.email' placeholder="Email" required autofocus>
          <input type="password" class="form-control rounded-bottom" #password='ngModel' name='password' [(ngModel)]='user.password' placeholder="Password" required>
          <input class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="Ingresar"/>
        </form>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="account-wall rounded">
        <img class="profile-img" src="../assets/img/add-user.png" alt="">
        <form class="form-signin">
          <input type="text" class="form-control rounded-top" placeholder="Email" required>
          <input type="password" class="form-control rounded-0" placeholder="Password" required>
          <input type="text" class="form-control rounded-0" placeholder="Nombre" required>
          <input type="text" class="form-control rounded-bottom" placeholder="Apellido" required>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label my-2" for="customCheck1">Acepto <a href="#">terminos y condiciones</a>.</label>
          </div>
          <input class="btn btn-lg btn-primary btn-block mt-3" type="submit" value="Registrarme">
        </form>
      </div>
    </div>
  </div>
</div>