<div class="row">
  <div class="col-12 my-2">
    <ul class="list-group list-group-horizontal mx-auto" id="list-action-search">
      <li class="list-group-item font-weight-bold text-truncate bg-info text-light">Buscar<i
          class="fas fa-search ml-2"></i></li>
      <button class="list-group-item font-weight-bold font-italic text-truncate">Artista<i
          class="fas fa-microphone-alt ml-2"></i></button>
      <button class="list-group-item font-weight-bold font-italic text-truncate">Album<i
          class="fas fa-compact-disc ml-2"></i></button>
    </ul>
  </div>
  <div class="col-12 my-3">
    <div class="card">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Music title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Music title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Music title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 my-3">
    <div class="card">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-compact-disc mr-2"></i>Album title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-compact-disc mr-2"></i>Album title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-compact-disc mr-2"></i>Album title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 my-3">
    <div class="card">
      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-microphone-alt mr-2"></i>Artist title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-microphone-alt mr-2"></i>Artist title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-microphone-alt mr-2"></i>Artist title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>