<div class="row">
  <div class="col">
    <div class="card my-4 pt-2">
      <h1 class="display-4 text-center">{{ title }} <span class="badge badge-warning">{{ artists.length }}</span></h1>
      <a *ngIf="identity && identity.role == 'ROLE_ADMIN'" routerLink='/crear-artista' class="text-center btn btn-success mx-auto mb-2">Anhadir artist</a>
    </div>
    <div class="card-columns">
      <div class="card" *ngFor='let artist of artists'>
        <img src="{{ artist.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ artist.name }}</h5>
          <p class="card-text">{{ artist.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>